#form_container {
  float: left;
  width: 10vw;
}

form {
  display: flex;
  align-items: center;
}

input[type="text"] {
  flex: 1;
  margin-top: 30px;
  padding: 5px;
  border-radius: 25px;
  font-size: 16px;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0);
  border-width: 3px;
  border-color: rgba($color: orange, $alpha: 1);
  color: white;
}

@media (max-width: 720px) {
  input[type="text"] {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba($color: orange, $alpha: 0.2);
  }
}

.fa-github {
  position: fixed;
  bottom: 0;
  left: 5;
  z-index: 2;
  font-size: 60px;
  color: orange;
}

.fa-linkedin {
  position: fixed;
  bottom: 0;
  left: 85px;
  z-index: 2;
  font-size: 60px;
  color: orange;
}

@media (max-width: 720px) {
  .linkedin_link {
    display: none;
  }
}

@media (max-width: 720px) {
  .github_link {
    display: none;
  }
}

.fa-magnifying-glass {
  position: fixed;
  margin-top: 30px;
  margin-left: 240px;
  z-index: 1;
  // opacity: 0.;
}

.fa-magnifying-glass:hover {
  cursor: pointer;
  color: orange;
}

.fa-arrows-rotate {
  position: fixed;
  margin-top: 7px;
  margin-left: 285px;
  z-index: 2;
}

@media (max-width: 720px) {
  .fa-arrows-rotate {
    position: fixed;
    margin-top: 5px;
    margin-left: 90%;
    z-index: 2;
  }
}

.fa-arrows-rotate:hover {
  cursor: pointer;
  color: orange;
}

.fa-question {
  position: fixed;
  margin-top: 0.5%;
  margin-left: 97%;
  z-index: 2;
  font-size: 32px;
}
@media (max-width: 720px) {
  .fa-question {
    display: none;
  }
}

#help_paragraph {
  position: fixed;
  margin-left: 70%;
  color: transparent;
  margin-top: -0.5%;
  z-index: 2;
}

@media (max-width: 720px) {
  #help_paragraph {
    display: none;
  }
}

#help_paragraph:hover {
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid orange;
}
