.canvas_container {
  position: absolute;
  width: 50vw;
  top: 135vh;
  left: -13vw;
}

.table {
  position: absolute;
  top: 160vh;
  left: 30vw;
}

#number-select {
  position: absolute;
  top: 160vh;
  right: 45vw;
}
