.canvas_container {
  position: absolute;
  width: 50vw;
  top: 130vh;
  left: -13vw;
}

.table {
  position: absolute;
  top: 150vh;
  left: 30vw;
}

#number-select {
  position: absolute;
  top: 155vh;
  right: 40vw;
  background-color: #333; /* black */
  color: #fff; /* white */
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
