#main_img {
  display: block;
  margin: 0 auto;
  max-width: 100%; /* optional */
}

#backround_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 104%;
  height: 80vh;
  background-size: cover;
  filter: blur(8px);
  z-index: -1;
  box-shadow: 0 0 0px transparent;
  outline: none;
}

#final_backround_img {
  height: 110vh;
  width: 104vw;
  filter: brightness(10%);
  margin-bottom: -5px;  
}
#skin_container {
  position: absolute;
  top: 200vh;
}
