#main_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 75vh;
  width: 60vw;
}

#backround_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 76vh;
  background-size: cover;
  filter: blur(8px);
  z-index: -1;
}

#final_backround_img {
  filter: brightness(10%);
  z-index: -1;
}
