h2 {
  position: absolute;
  top: 66vh;
  left: 40vw;
  white-space: nowrap;
  font-size: 2vw;
  font-family: sans-serif;
  font-style: italic;
  color: white;
}

h1 {
  position: absolute;
  top: 70vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  font-size: 6vw;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  font-family: serif;
  white-space: nowrap;
}
body {
  margin: 0;
  color: white;
}

.description {
  top: 85vh;
  position: absolute;
  border-color: white;
  left: 25vw;
  width: 50%;
  z-index: 1;
}

.ability_name {
  position: absolute;
  top: 124vh;
  left: 22vw;
}
